@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: dahang;
    font-weight: 400;

    src: url(./font/nanum-dahang.ttf) format('truetype');
  }

  @font-face {
    font-family: nanum-square;
    font-weight: 400;

    src: url(./font/NanumSquareR.ttf) format('truetype');
  }
}

* {
  font-family: nanum-square;
  font-size: 1.1rem;
}

.tableContainer {
  background-color: pink;
  border-radius: 20px;
  height: 42rem;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}

Table thead {
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
}

.App {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  width: 300px;
  min-width: 200px; /* 추가된 부분 */
  height: 200px;
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .box {
    width: 80%;
  }
}
